.titleX{
  width:100%;
  position:absolute;
  top: 58%;
  z-index: 99;
  h1{
      color:#fff !important;
      text-align: center;
      font-size: 2.5em;
      letter-spacing: 4px;
  }
}

/******************************************************************************
Slider
*******************************************************************************/
.slideX{
  top: -40px;
  width:100%;
  height: auto;
  z-index: -2;
}

.slideX img{
  width:100%;
  height:100%;
}
.nav-vis{
    position: absolute;
    top: 54px;
    width: 100%;
    text-align: center;
    color: #fff !important; 
}
.logo-t{
  width:200px;
  height:200px;
  position:absolute;
  z-index: 99;
  top: 25%;
  left: calc(50% - 100px);
}



.second-menu ul{
  margin-bottom: 0;
}
.second-menu ul li a{
  color: #fff !important;
  text-decoration: none !important;
  font-size:1.3em;
  padding: 0 10px;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-family: "miso";
}

.third-menu ul li a{
  color: #fff !important;
  text-decoration: none !important;
  font-size:1.4em;
  padding: 0 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: "miso";
 
}

.tours{
  h1{
    color: #ffffff;
  }
  ul.dropdown-menu{
    li{
      a{
        color: #ffffff !important;
      }
    }
  }
}